 .container {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 20px;
  background-color: aqua;
  border: 1px solid #ccc;
  display:flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}


.b1 {
  background-color: blue;
  border-radius: 10px;
  height: 100px;   
}


.b2 {
  background-color: blue;
  border-radius: 10px;
  flex: 1;   
}


.b3 {
  background-color: blue;
  border-radius: 10px;
  flex: 1; 
  margin-right: 20px;  
}
.b4 {
  background-color: blue;
  border-radius: 10px;
  margin-left: 20px;
  flex: 1; 
 }


.b5 {
  background-color: blue;
  border-radius: 10px;
  height: 80px; 
}


.Columna {
  display: flex;
  flex: 1;
  gap: 10px;
}


.derecha {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 10px;
}


.abajo {
  display: flex;
  gap: 10px;
  flex: 1;
}
