 .container {
  width: 350px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 20px;
  background-color: aqua;
  border: 1px solid #ccc;
  display:flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}


.b1 {
  width: 350px;
  height: 100px;
  background-color: blue;
  border-radius: 10px;  
}


.b2 {  
  width: 100px;
  height: 190px;
  background-color: blue;
  border-radius: 10px;
  margin-right: 10px;

}


.b3 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 10px;
  margin-right: 20px; 
  margin-top: 10px; 
}
.b4 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
 }


.b5 {
  background-color: blue;
  border-radius: 10px;
  height: 80px; 
}


.Columna {
  display: flex;
}


.derecha {
  display: flex;
  flex-direction: column;
}


.abajo {
  display: flex;
}
